body {
	font-family: sans-serif;
	font-size: 150%;
}

tr {
	background-color: #052354;
}

input {
	background-color: #4286f4;
	padding: 20px;
	width: 60px;
	font-size: 150%;
}

table {
	margin: auto;
	margin-top: 35px;
} 

button {
	margin-left: 47%;
	padding: 30px;
	margin-top: 25px;
}

h1 {
	margin-left: 47%;
}

footer {
	margin-top: 19%
}
